# Ignorar dados pesados
data/
*.npy
*.h5
*.mat

# Ignorar lixo do Jupyter e VS Code
.ipynb_checkpoints/
*/.ipynb_checkpoints/
.vscode/

# Ignorar ambientes virtuais
project-env/
.env

# Ignora todos os notebooks de Due Diligence dentro da pasta proj-02
proj-02/*due_diligence*.ipynb
